= form_for @personal_info, :url => user_personal_info_path(current_user), :html => {:multipart => true}  do |f|
  - if @personal_info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@personal_info.errors.count, "error")} prohibited this personal_info from being saved:"
      %ul
        - @personal_info.errors.full_messages.each do |msg|
          %li= msg

  .field
    .sansation= f.label :name
    = f.text_field :name
  .field
    .sansation= f.label :surname
    = f.text_field :surname
  .field
    .sansation= f.label :gender
    = f.text_field :gender
  .field
    .sansation= f.label :age
    = f.number_field :age
  .field
    .sansation= f.label :image
    = image_tag(@personal_info.image.thumb.url) if @personal_info.image?
    = f.file_field :image
    = f.hidden_field :image_cache
  .field
    .sansation= f.label :country
    = f.text_field :country
  .field
    .sansation= f.label :marital_status
    = f.text_field :marital_status
  .field
    .sansation= f.label :credo
    = f.text_field :credo
  .field
    .sansation= f.label :religion
    = f.text_field :religion
  .field
    .sansation= f.label :political_views
    = f.text_field :political_views
  .field
    .sansation= f.label :smf_more
    = f.text_field :smf_more
  .actions
    .sansation= f.submit 'Save'
