.row-fluid
  .span4.box-shadow
    -if @user.visible
      %ul.thumbnails
        %li.span12
          - if @personal_info
            - if @personal_info.image
              .thumbnail
                .img-polaroid
                  = image_tag(@personal_info.image.thumb)
            .pers    
              %dl.dl-horizontal
                - unless @personal_info.name == ""
                  %dt.shadow-str.sansation Name:
                  %dd.sansation= @personal_info.name
                - unless @personal_info.surname == ""
                  %dt.shadow-str.sansation Surname:
                  %dd.sansation= @personal_info.surname
                - unless @personal_info.gender == ""
                  %dt.shadow-str.sansation Sex:
                  %dd.sansation= @personal_info.gender
                - unless @personal_info.age == nil
                  %dt.shadow-str.sansation Age:
                  %dd.sansation= @personal_info.age
                - unless @personal_info.country == ""
                  %dt.shadow-str.sansation Country:
                  %dd.sansation= @personal_info.country
                - unless @personal_info.marital_status == ""
                  %dt.shadow-str.sansation Marital status:
                  %dd.sansation= @personal_info.marital_status
                - unless @personal_info.credo == ""
                  %dt.shadow-str.sansation Credo:
                  %dd.sansation= @personal_info.credo
                - unless @personal_info.religion == ""
                  %dt.shadow-str.sansation Religion:
                  %dd.sansation= @personal_info.religion
                - unless @personal_info.political_views == ""
                  %dt.shadow-str.sansation Political views:
                  %dd.sansation= @personal_info.political_views
                - unless @personal_info.smf_more == ""
                  %dt.shadow-str.sansation Whatever about you:
                  %dd.sansation= @personal_info.smf_more

      - if current_user == @user 
        .shadow
          .sansation= link_to 'Edit', edit_user_personal_info_path(current_user, @personal_info)
      .shadow
        .sansation= link_to 'Back', quastions_path
      - unless @user == current_user
        - if @pesronal_info
          - if current_user.folowers.where(thinker_id: @user.id) == []
            .shadow
              .sansation= link_to 'Follow', user_personal_info_folowers_path(@user, @personal_info), method: :post
          - else
            .shadow
              .sansation= link_to 'Unfollow', user_personal_info_folower_path(@user,@personal_info,@folower), method: :delete
  .span8
    .tabbables.tabs-right.box-shadow
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} 
            .shadow My thoughts
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"}
            .shadow Quastions
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} 
            .shadow Thinkers
      .tab-content
        #tab1.tab-pane.active
          - @users_thought.each do |user_thought| 
            .featurette.best_quastions
              - if user_thought.quastion
                %h2.sansation= link_to user_thought.quastion.discription,quastion_path(user_thought.quastion)
              %blockquote
                %strong.featurette-heading.tangerine= user_thought.point
                %h4.sansation= user_thought.rate
              %hr.featurette-divider 
          = will_paginate @users_thought
        #tab2.tab-pane
          - @users_quastions.each do |user_quastion|           
            .featurette.best_quastions
              - if user_quastion.quastion
                %strong.featurette-heading.sansation= link_to user_quastion.quastion.discription, quastion_path(user_quastion.quastion)
                %blockquote
                  %h2.tangerine= user_quastion.point
                  %h4.sansation= user_quastion.rate
                %hr.featurette-divider   
          = will_paginate @users_quastions
        #tab3.tab-pane
          - @folowers.each do |folower|
            - @thinker = User.find(folower.thinker_id)
            - if @thinker.personal_info
              .featurette.best_quastions
                %em.lead= link_to @thinker.personal_info.name , user_personal_infos_path(@thinker)
                %blockquote
                  %h3.tangerine= link_to @thinker.thoughts.last.point, quastion_path(@thinker.thoughts.last.quastion)
            %hr.featurette-divider 
          
            
            
          