%h1.shadow1.quicksand Please, input your personal information

= form_for @personal_info, :url =>  user_personal_infos_path(current_user), :html => {:multipart => true, :method => :post}  do |f|
  - if @personal_info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@personal_info.errors.count, "error")} prohibited this personal_info from being saved:"
      %ul
        - @personal_info.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, :placeholder => "Name"
  .field
    = f.text_field :surname, :placeholder => "Surname"
  .field
    = f.text_field :gender, :placeholder => "Sex"
  .field
    = f.number_field :age, :placeholder => "Age"
  .field
    = image_tag(@personal_info.image.thumb.url) if @personal_info.image?
    = f.file_field :image, :placeholder => "Photo"
    = f.hidden_field :image_cache
  .field
    = f.text_field :country, :placeholder => "Country"
  .field
    = f.text_field :marital_status, :placeholder => "Marital status"
  .field
    = f.text_field :credo, :placeholder => "Credo"
  .field
    = f.text_field :religion, :placeholder => "Religion"
  .field
    = f.text_field :political_views, :placeholder => "Political views"
  .field
    = f.text_field :smf_more, :placeholder => "About you"
  .actions
    %button.btn.btn-primary{ :type => "submit" } Save

= link_to 'Back', user_personal_infos_path(current_user)
