%tr
  %td
    %h3.tangerine.first= thought.point
  %td.second= thought.rate
  %td.third
    .btn-group.pull-right
      - if current_user
        - if thought.can_agree(current_user) or current_user == User.find(1)
          .btn.btn-primary
            .quicksand1= link_to 'Agree', incriment_quastion_thought_path(thought.quastion_id, thought.id), :remote => true, :method => :post
        - if thought.user == current_user and thought.rate == 0 or current_user == User.find(1) 
          .btn.btn-primary
            .quicksand1= link_to 'Edit', edit_quastion_thought_path(thought.quastion_id, thought.id)
          .btn.btn-primary
            .quicksand1= link_to 'Destroy', quastion_thought_path(thought.quastion_id, thought.id), :method => :delete,:data => { :confirm => 'Are you sure?' }
