%p#notice= notice

%p
  %b User:
  = @thought.user_id
%p
  %b Quastion:
  = @thought.quastion_id
%p
  %b Rate:
  = @thought.rate
%p
  %b Point:
  = @thought.point

= link_to 'Edit', edit_thought_path(@thought)
\|
= link_to 'Back', thoughts_path
